@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #e8e8e8;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}

.wrap-navbar {
  display: block;
  height: 60px;
  width: 100%;
  background-color: black;
  position: relative;
}

.bg-grey {
  background-color: #495464;
  transition: background-color 200ms linear;
}

.btn-toggle-menu {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url("assets/icon/Hamburger_icon_white.svg");
  background-size: cover;
  outline: none;
}

.bg-close {
  background-image: url("assets/icon/Close_icon_white.svg");
  background-size: cover;
}

.display-on {
  display: block !important;
}

.menu-navbar {
  width: 100%;
  position: absolute;
  top: 60px;
  display: none;
}

.menu-navbar li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-decoration: none;
  /* color: white; */
  color: black;
}

.menu-navbar li {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.menu-navbar li a:hover {
  background-color: forestgreen;
  color: white;
  /* background-color: white; */
  /* color: black; */
}

main {
  margin-top: 60px;
}

.introduction {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.img-person {
  padding-top: 30px;
}

.img-person img {
  height: 150vw;
}

.info-person {
  position: absolute;
  top: 60%;
  display: flex;
  color: white;
  width: 100%;
}

.bg-overlay {
  width: 500px;
  height: 500px;
}

.black-overlay {
  background: #495464;
  opacity: 0.75;
  transform: rotate(-102.12deg);
  width: 205vw;
  position: absolute;
  height: 200vw;
}

.greeting {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}

.name-person span {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.name-person span:nth-child(2) {
  font-size: 40px;
  line-height: 40px;
}

.title-person {
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
  display: block;
}

.detail-person {
  flex-grow: 3;
  z-index: 1;
  padding-top: 20vw;
  padding-left: 10vw;
}

.social-media-person {
  flex-grow: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.wrap-icon {
  width: 100%;
  text-align: center;
}

.container-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.container-title {
  width: 100%;
  text-align: center;
}

h2[class^="title"] {
  border: 6px solid #000000;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.text-about {
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
}

.text-about p {
  margin-bottom: 5px;
}

.item-skill {
  margin-top: 20px;
}

.title-item-skill {
  width: 100%;
  position: relative;
  height: 50px;
}

.title-item-skill img {
  height: 40px;
  position: absolute;
  opacity: 0.2;
}

.title-item-skill h3 {
  line-height: 50px;
  margin-left: 20px;
  font-size: 20px;
}

.item-skill p {
  font-size: 16px;
  font-weight: 500;
}

.tools > p {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.container-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.item-tool {
  flex: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px;
}

.item-tool img {
  max-height: 100%;
  max-width: 80px;
  margin-bottom: 10px;
}

.title-tool {
  font-size: 17px;
  font-weight: 500;
}

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 20px 0;
}

.item-portfolio {
  flex: 100%;
  margin-bottom: 20px;
}

.item-portfolio img {
  width: 100%;
  border: 4px solid black;
  max-height: 150px;
  object-fit: cover;
  object-position: top;
  box-sizing: border-box;
}

.contactme > .container-title p {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
}

.contact-form {
  width: 100%;
}

.contact-form .input-form {
  display: flex;
  font-size: 17px;
  margin: 10px 0;
}

.contact-form .input-form label {
  flex: 40%;
}

.input-box {
  flex: 60%;
  background-color: #e8e8e8;
  border: none;
  border-bottom: 2px solid black;
}

.input-form label {
  line-height: 40px;
}

.input-form input {
  height: 40px;
}

.input-box:focus {
  outline: none;
}

.btn-submit {
  width: 100%;
  background-color: #495464;
  font-size: 20px;
  color: white;
  font-weight: 600;
  height: 40px;
}

footer{
  background-color: #495464;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

.container-social-media{
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 50px;
}

.item-social-media{
  width: 40px;
  height: 40px;
}

.item-social-media img{
  width: 100%;
}

.copyright {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.copyright p{
  color: white;
}